{% extends 'base.html' %}

{% block title %} Home | Images Share {% endblock %}


{% block content %}
{% if user.is_authenticated %}
{% for image in images %}
<div class="card">
    <h3 class="card-header">{{image.title}}</h3>
    <p class="card-text" >User: {{image.author}} </p>
    <p class="card-text" >Qty image: {{image.author.userprofile.images_number}} </p>
    <p> <a href="{% url 'profile_id' image.author.userprofile.id %}"> Profile info User ID {{image.author.id}} profile ID {{image.author.userprofile.id}}</a></p>
    <img  alt="{{image.description}}" src="{{image.image.url}}" width="200"/>    
</div>
<br>
{% endfor %}
    
{% else %}
<div class="alert alert-primary" role="alert">Please, login or register</div>
{% endif %}
    
{% endblock %}