html, body {
    background-color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    background-color: #1a1a1c;
    max-width: 600px; 
    padding: 20px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 15px;
    background-image:  radial-gradient(#373737 0.5px, transparent 0.5px), radial-gradient(#373737 0.5px, #1a1a1c 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}

h1{
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #c3073f, 0px 0px 5px #c3073f, 0px 0px 5px #c3073f,
    0px 0px 20px #c3073f;
}

input{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #1a1a1c;
}

button{
    padding: 10px;
    background: #c3073f;
    border: 1px solid #c3073f;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s ease-in-out;
    margin: 10px 5px;
}

button:hover{
    cursor: pointer;
    background: #df1f59;
    border: 1px solid #e52d64;
}

section#main{
    color: #fff;
    text-align: left;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 35px;
}

section#main p{
    
    margin: 35px auto 10px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: left;
    line-height: 1.5;
}

section#main li{
    font-size: 13px;
    margin: 10px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.author{
    color: #8d8d8d;
    border-left: 5px solid #ccc;
    padding-left: 10px;
}


button#numCharacters, button#numChWithoutSpaces,
button#numWords{
    background: transparent;
    border: 1px solid #c3073f;
    color: #fff;
    font-size: 10px;
}

button#numCharacters:hover, button#numChWithoutSpaces:hover,
button#numWords:hover{
    background: #c3073f;
    border: 1px solid #c3073f;
    color: #fff;
}


.display_counts {
    max-width: 460px;
    margin: auto;
    background: #fff;
    border-radius: 15px;
}

.display_counts div{
    padding: 10px;
}

p.success{
    background-color: rgb(127, 200, 127);
    padding: 10px;
    border-radius: 15px;
}

p.err{
    background-color: rgb(233, 126, 123);
    padding: 10px;
    border-radius: 15px;
}

input#search{
    min-width: 75%;
    background: antiquewhite;
}
