<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container">
        <a class="navbar-brand" href="/">TORQUAY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                
                {%if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">ADD REVIEW</a>
                </li>
                {% endif %}
            </ul>
            <div class="d-flex align-items-center">
                {%if request.user.is_authenticated %}
                <div style="color: #fff;">Hello, <b>{{user}}</b></div>
                <a class="btn btn-outline-light ms-2" href="{% url 'logout' %}">Logout</a>
                <a class="btn btn-outline-light ms-2" href="{% url 'profile' %}">Profile</a>
                {% else %}

                <a class="btn btn-outline-light ms-2" href="{% url 'login' %}">Login</a>
                <a class="btn btn-outline-light ms-2" href="{% url 'register' %}">Sign up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>