{% extends 'layout.html'%}

<!-- внутрь блока title из layout помещаю код -->
{% block title %}All rentals{% endblock %}

<!-- внутрь блока content из layout помещаю код -->
{% block content %}
    <h1>{{page_title}}</h1>
    {% for rent in rental %}
        <p>Customer: <a href="{% url 'rental' rent.id%}">{{rent.customer}} </a> </p>
        <p>Vehicle: {{rent.vehicle}}</p>
        <p><b>Rental date:</b> {{rent.rental_date}}</p> 
       

        {% if rent.return_date != None %}
            <p><b>Return date: {{rent.return_date}}</b></p>
        {% else %}
            <p style="color: red"><b>Not yet returned</b></p>
        {% endif %}
    <hr>
    {% endfor %}
{% endblock %}