{% extends 'layout.html'%}

<!-- внутрь блока title из layout помещаю код -->
{% block title %}Vehicles{% endblock %}

<!-- внутрь блока content из layout помещаю код -->
{% block content %}
    <h1>{{page_title}}</h1>
    
    {% for veh in vehicles %}
        <p>Type: <a href="{% url 'vehicle' veh.id%}">{{veh.vehicle_type}}</a></p>
        <p>Size: {{veh.size}}</p>
        <p>Cost (real): {{veh.real_cost}}</p>
        <p>Date created: {{veh.date_created}}</p>
        <hr>
    {% endfor %}
{% endblock %}