body{
    background: #ffcf3f url(../img/bg.jpeg) no-repeat center -20%;
    background-size: 285px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    max-width: 500px;
    background: rgba(0,0,0,0.1);
    padding: 20px;
    margin: 0 auto;
    margin-top: 220px;
    text-align: center;
    color: #fff;
}

h1{
    color: #fadb78;
    -webkit-text-stroke: 2px #886256;
    text-stroke: 2px #886256;
}

form#myCurrency{
    
    margin: auto;
    
}

form#myCurrency label{
    display: inline-block;
    min-width: 85px;
}

form#myCurrency select{
    min-width: 280px;
}

form#myCurrency input{
    min-width: 273px;
}

form button{
    margin: 30px 0;
    background: #fadb77;
    border: 1px solid #fadb77;
    padding: 5px 10px;
    transition: .3s ease-in-out;
}

form button:hover{
    cursor: pointer;
    background: #86654e;
    border: 1px solid #86654e;
    color: #fff;
}