{% extends 'base.html' %}

{% block title %}{{page_title}}{% endblock %}

{% block content%}

<h1 style="margin-bottom: 35px">Details about {{ book.title }}</h1>

<div class="d-flex flex-row" style="gap: 4rem">
    <img class="align-self-center mr-3" src="{{book.thumbnail_url}}" alt="" style="width: 18rem;">
    <div class="media-body">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Published date: {{book.published_date | date:"d M Y"}}</li>

            <li class="list-group-item">Author: {{book.author}}</li>

        </ul>

        <p><b>Description: </b>{{book.description}}</p>

        <p>Pages: {{book.page_count}}</p>

        <p>Total reviews: {{ reviews.count }}</p>
        <p>Average rating: {{ book.rating }}</p>

        <hr>
        <strong>Reviews:</strong>
        <ol reversed>
            {% for review in reviews reversed %}
            <li>By {{ review.user }}: <br>{{ review.review_text }}</li>
            {% endfor %}
        </ol>

        <div class="card-body">

            <form method="POST">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit" class="btn btn-dark"> Send </button>
            </form>

            <a href="/" class="card-link">Back to home</a>

        </div>
    </div>

</div>

{% endblock %}