header{
  display: flex;
  justify-content: space-between;
}

.forecast{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.forecast div{
  border: 1px solid grey;
  text-align: center;
  padding: 2rem;
}

.search{
  text-align: center;
}

.currentCity{
  display: flex;
  justify-content: space-between;
}