<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h3>{{title}}</h3>
    {% for task in todos %}
        <p>Task: {{task.title}} </p>
        <p>Details: {{task.details}} </p>
        <p>Date creation: {{task.date_creation}} </p>
        <p>Deadline: {{task.deadline_date}} </p>
        <p>Category: {{task.category}} </p>

        <button type="submit">Done</button>
    {% endfor %}
    
    <p><a href="../add-task/">Add new task</a></p>
</body>
</html>