{% extends 'base.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block header %}
<header>
    <div class="slider">
        <div class="container">
            <div class="slider__row ">

                <div class="slider__form"> 
                    <div class="form__booking row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 align-items-end">
                        <!-- <form action="" method="POST" class="reservation_form">
                            {%csrf_token%}
                            {{form.as_div}}
                            <div class="booking__btn col">
                                <button type="submit" class="btn btn-warning">Search</button>
                            </div>
                        </form> -->
                        
                        
                    </div>
                </div>
                <div class="slider__bonus">
                    <div class="bonus__text">
                        <div class="bonus__top">
                            <h2>TORQUAY BONUSES</h2>
                            <p>Get 20% off when you book by Sunday</p>
                        </div>
                        <div class="bonus__button">
                            <a href="#">
                            <button type="submit" class="btn btn-outline-warning">BOOK NOW</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content%}

<section class="about">
    <div class="container">
        <div class="subtitle">WELCOME TO TOWERS AND TORQUAY</div>
        <h1>EXPLORE TORQUAY</h1>
        <p>
        Welcome to Torquay, a traditional yet thriving seaside town set on Devon's English Riviera coast and the top trending UK holiday destination in 2021. If you haven't visited for a while, then banish those thoughts of a resort that has seen its hey day.... the best is yet to come. With its iconic palm trees, busy harbour, international marina, sandy beach and wonderful array of continental style cafes, restaurants and cocktail bars, the scene is set for the perfect Devon seaside holiday or short break.
        </p>
        <p>
        This quintessential bucket and spade resort appeared in The Guardian, being described as one of "Britain's most booming seaside towns, undergoing a style revival with Michelin starred restaurants and swanky yachts"!  You only have to drive along the seafront or take a stroll along the promenade to know that this is true.
        </p>
    </div>
</section>

<section class="things">
    <div class="container">
        <h2>THINGS TO DO IN TORQUAY</h2>
        <div class="row row-cols-1 row-cols-lg-4 g-4 ">
            <div class="col">
                <div class="card h-100">
                    <img src="../static/img/things/relax.jpeg" class="img-fluid rounded-start" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">English Riviera Attractions</h5>
                        <p class="card-text">There's a huge choice of attractions in the Bay including renowned caverns, a model village, a steam train, a zoo, a huge waterpark, Agatha Christie’s famous riverside home and more.</p>
                        
                        </div>
                        <div class="card-footer">Read more...</div>
                </div>   
            </div>
            <div class="col">
                <div class="card h-100">
                        <img src="../static/img/things/family.jpeg" class="img-fluid rounded-start" alt="...">
                    
                        <div class="card-body">
                        <h5 class="card-title">Family Days out</h5>
                        <p class="card-text">As well as the stunning coastline and beautiful beaches, the English Riviera has endless options for family fun including underground caverns, a magnificent model village, a steam train, a world-class zoo, an historic funicular railway, an 800 year old Abbey, a huge waterpark, a historic pier, Agatha Christie’s famous riverside residence and much more.</p>
                        
                        </div>
                        <div class="card-footer">Read more...</div>
                </div>   
            </div>
            <div class="col">
                <div class="card h-100">
                        <img src="../static/img/things/coast.jpeg" class="img-fluid rounded-start" alt="...">
                    
                        <div class="card-body">
                        <h5 class="card-title">Explore The Coast</h5>
                        <p class="card-text">The South Devon coastline offers an ever-changing feast of sandy beaches, secluded coves, historic viaducts and wooded areas.</p>
                        
                        </div>
                        <div class="card-footer">Read more...</div>
                </div>   
            </div>
            <div class="col">
                <div class="card h-100">
                        <img src="../static/img/things/download.jpeg" class="img-fluid rounded-start" alt="...">
                   
                        <div class="card-body">
                        <h5 class="card-title">EXCURSIONS, DAY TRIPS & TOURS</h5>
                        <p class="card-text">The English Riviera is a designated UNESCO Global Geopark in South Devon. It is one of only eight in the UK and 140 in the world. A geopark is an area of globally recognised unique geological interest with fascinating landscape, coastlines and places.</p>
                        
                        </div>
                        <div class="card-footer">Read more...</div>
                </div>   
            </div>
        </div>
    </div>
</section>

<section class="rooms">
    <div class="container">
        <div class="rooms__row row row-cols-1 row-cols-lg-2 g-4">
            <div class="rooms__description col">
                <h3>About us</h3>
                <div class="rooms__hotel-about">
                
                </div>
                <p>Grade ii listed Victorian property set in 3/4 acres of South Facing garden. Access to a private pathway 'Croft Meadow Walk' that takes you too within 100 metres of Torquay's main beach and promenade. Note, we are not Star Rated. We came out of the Star rating system many years ago. We believe a true reflection of what a hotel offers can be found via review sites such as TripAdvisor. Guests can leave their own personal viewpoints, be it good or bad and also identify other points of interest that can be found either inside the hotel, such as the humour and fun factor that we hope to provide for our guests and external factors such as a guests comments regarding areas of interest that they may have visited whilst on holiday. These points can be very helpful for other viewers looking for somewhere to stay.</p>

                <ul>
                    {% for hotel in hotels %}
                    <li>
                        <!-- <h2>{{ hotel.name }}</h2> -->
                        <p>Location: {{ hotel.address }}</p>
                        <p>Rating: {{ hotel.rating }}</p>
                        <a href="{% url 'hotel_detail' hotel.id %}" class="btn btn-dark btn-lg">View Details</a>
                        <a href="{% url 'room_list'%}"><button type="button" class="btn btn-warning btn-lg">Vacancies</button></a>
                        <a href="#">
                        <button type="button" class="btn btn-success btn-lg">Write review</button>
                        </a>
                    </li>
                    {% empty %}
                    <li>No hotels available.</li>
                    {% endfor %}
                </ul>
                
                
            </div>
            <div class="rooms__gallery col">
                <div class="row row-cols-1 row-cols-lg-3 g-4 ">
                    <div class="col">
                        <div class="card h-100">
                            <img src="../static/img/rooms/1.jpg" class="img-fluid my_img rounded-start" alt="...">
                        </div>   
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="../static/img/rooms/2.jpg" class="img-fluid my_img rounded-start" alt="...">
                        </div>   
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="../static/img/rooms/3.jpg" class="img-fluid my_img rounded-start" alt="...">
                        </div>   
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="../static/img/rooms/4.jpg" class="img-fluid my_img rounded-start" alt="...">
                        </div>   
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="../static/img/rooms/5.jpg" class="img-fluid my_img rounded-start" alt="...">
                        </div>   
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="../static/img/rooms/6.jpg" class="img-fluid my_img rounded-start" alt="...">
                        </div>   
                    </div>
                </div>
                
                
                
            </div>
        </div>
        
    </div>
</section>

<section class="member">
    <div class="container">
        <div class="member__block">
            <h2>Become a member</h2>
            <p>Exclusive rates, earn points towards free nights and more. Sign up today for free</p>
            <div class="memder__buttons">
                <a class="btn btn-outline-light ms-2" href="{% url 'login' %}">Join Now</a>
                <a class="btn btn-outline-light ms-2" href="{% url 'register' %}">Sign in</a>
            </div>
        </div>
    </div>
</section>

<section class="location">
    <div class="container">
        <div class="location__row row row-cols-1 row-cols-lg-2 g-4 align-items-center">
            <div class="location__description col">
                <h2>About Torquay</h2>
                <div class="descriotion__about">
                    Mild ocean breezes, sandy beaches and swaying Torbay Palms give the small English town of Torquay a distinctively Mediterranean feel. More than just a beach spot, Torquay boasts an enormous coastal aviary and the famous Kents Cavern Prehistoric Caves. Agatha Christie spent most of her life here, and the city is now home to multiple film companies. With such a rich literary history, Torquay may be the perfect place to finish writing that novel or screenplay, or just to relax with a good mystery.
                </div>
        
            </div>
           <div class="location__map col">
                <table class="table-responsive table table-sm">
                    <tr>
                        <td>Location: </td>
                        <td>Meadfoot Road, Torquay TQ1 2JP England</td>
                    </tr>
                    <tr>
                        <td>Phone: </td>
                        <td>+44 1803 294708</td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td>enquiries@haytorhotel.com</td>
                    </tr>
                </table>
                <br>
                <button type="button" class="btn btn-dark btn-lg">Write to us if you need more information</button>
           </div>
        </div> 
    </div>
</section>

{% endblock %}

