{% extends 'base.html' %}

{% block content%}

<!-- only if registred -->
<div class="container">
    <h1>Create Reservation</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="room_id" value="{{ room.id }}">
        <label for="guest_name">Guest Name:</label>
        <input type="text" id="guest_name" name="guest_name" required><br>
        <label for="guest_email">Guest Email:</label>
        <input type="email" id="guest_email" name="guest_email" required><br>
        <label for="check_in_date">Check-in Date:</label>
        <input type="date" id="check_in_date" name="check_in_date" required><br>
        <label for="check_out_date">Check-out Date:</label>
        <input type="date" id="check_out_date" name="check_out_date" required><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}