{% extends 'base.html' %}

{% block content%}

<!-- only if registred -->
<div class="container">
    <h3>Avaliable rooms in our hotel</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
       
        {% for room in rooms %}
        
        <div class="col">
            <div class="card-deck">
               
                <div class="card">
                <img class="card-img-top" src="{{room.thumbnail_url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Room #{{room.room_number}}</h5>            
                </div>
                <div class="card-footer">
                    <p>Type: {{ room.room_type }}</p>
                    

                    <div class="card-footer__btns">
                        <small class="text-muted">Price/day: {{ room.price }}$ </small> 
                        <div class="buttons">
                            <a href="{% url 'room_detail' room.id %}" class="btn btn-outline-success">Reviews</a>
                            {% if room.availability %}
                                <a href="{% url 'reservation_create' room.id %}" class="btn btn-outline-warning">Book now</a>
                            {% else %}
                                <p>Not available</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                </div>
                
            </div>
        </div>
        {% empty %}
        <p>No rooms available..</p>
        {% endfor %}
    </div>
   
</div>
{% endblock %}