@import url('https://fonts.googleapis.com/css?family=Raleway');
  
html {
    font-size: 62.5%; /* 10px = 1rem */
    scroll-behavior: smooth;
}

body{
    color: #798a9a;
    line-height: 1.7;
    font-size: 1.6rem;
    font-weight: 300;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

h2,h3,h4{
    color: #2c3e50;
    font-weight: 200;
}

h2 span{
    font-weight: 800;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}


img{
    width: 100%;
}



section .btn{
    font-size: 1.6rem;
    border-radius: 10rem !important;
    padding: 0.7rem 2.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.site-navbar.scrolled .navbar-brand {
    font-size: 2rem;
    border: 2px solid #000;
    padding: 0.2rem 1rem;
}

ul.navbar-nav{
    font-size: 1.6rem;
}

.site-navbar.scrolled{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
}



.head__top{
    background: url(../img/bg.jpeg) no-repeat center top;
    height: 100vh;
    background-size: cover;
    color: #fff;
}

.head__blockFlex{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-content: center;
}

.mask{
    
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

h1.head__title{
    font-size: 6rem;
    font-weight: 200;
   
}

h1.head__title span{
    font-weight: 800;
}

.head__desc{
    margin-bottom: 2rem;
    font-weight: 200;
    font-size: 2.4rem;
}

.row-gap{
    gap: 10px;
}

h2 {
    position: relative;
    font-weight: 200;
    padding-top: 2rem;
    font-size: 3rem;
    text-align: center;
}

.title:before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 2px;
    width: 50px;
    background: #0dcaf0;
    /* z-index: -1; */
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* about */


.about {
    margin: 10rem 0;
}

.about__block {
    display: flex;
    gap: 8rem;
    justify-content: space-between;
    align-items: flex-end;
}
.about__avatar {
    max-width: 35%;
    
}

.about__avatar img{
    max-width: 100%;
    height: auto;
}

.about__text {
    max-width: 55%;
    line-height: 1.5;
}

.about__text h2.title{
    text-align: left;
}

.about__text h2.title:before{
    left: 0;
    transform: none;
}

.about__btns{
    margin-top: 3rem;
}

p.about__small{
    font-size: 1.4rem;
    font-weight: 200;
}

/* skills */

.skills{
    padding-bottom: 10rem;
    
    
}

.skills__row{
    display: flex;
    justify-content: space-between;
}

.skills__titleBlock{
    min-width: 26%;
}

.progress{
    margin-bottom: 2.6rem;
}

.progress-bar{
    background-color: #0dcaf0;
}

.skills__block{
    display: flex;
    justify-content: space-between;
    min-width: 72%;
}

.skills__left, .skills__right{
    min-width: 45%;
}

/* portfolio */

.portfolio{
    background-color: #f8f9fa;
    padding: 6rem 0;
}

.portfolio__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem;
}

.portfolio__filter ul{
    display: flex;
    justify-content: center;

    gap: 4.5rem;
    margin: 4rem 0;
}

.portfolio__filter ul > li {
    list-style-type: none;
}

.portfolio__filter a{
    color: #2c3e50;
    text-decoration: none;
}

.portfolio__filter a:hover{
    text-decoration: underline;
}

.portfolio__item {

    text-align: center;
}

.item__img{
    
}
.item__img img{
    object-fit: cover;
    height: 35rem;
    width: 100%;
}
.item__title {
    font-size: 2.2rem;
    margin: 1rem 0;
}
.item__desc {
    text-transform: uppercase;
    color: #cccccc;
}

/* experience */

.experience h2{
    margin-bottom: 6rem;
}

.gray-bg {
    background-color: #f5f5f5;
    padding: 6rem 0;
}

.resume-box {
    background: #ffffff;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
    border-radius: 10px;
  }
  .resume-box ul {
    margin: 0;
    padding: 3rem 2rem;
    list-style-type: none;
  }
  .resume-box li {
    position: relative;
    padding: 0 2rem 0 6rem;
    margin: 0 0 3rem;
  }
  .resume-box li:last-child {
    margin-bottom: 0;
  }
  .resume-box li:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 2rem;
    border-left: 1px dashed #0dcaf0;
    bottom: 0;
  }
  .resume-box .icon {
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 0;
    right: 0;
    color: #0dcaf0;
    line-height: 4rem;
    background: #ffffff;
    text-align: center;
    z-index: 1;
    border: 1px dashed;
    border-radius: 50%;
  }
  .resume-box .time {
    background: #0dcaf0;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    display: inline-block;
    margin-bottom: 1.2rem;
    border-radius: 2rem;
    font-weight: 600;
  }
  .resume-box h5 {
    font-weight: 700;
    color: #2c3e50;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .resume-box p {
    margin: 0;
  }
  
  .resume-box li:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 2rem;
      border-left: 1px dashed #0dcaf0;
      bottom: 0;
  }

  /* blog */

.blog{
    padding: 6rem 0;
  }

.blog h2{
    margin-bottom: 6rem;
  }

.blog__block{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.blog__card{
    border: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card__details{
    padding: 2rem;
}

.card__img{
    max-width: 100%;
    height:auto;
}

.card__img img{
    height: 17rem;
    object-fit: cover;
}