{% extends 'layout.html'%}

<!-- внутрь блока title из layout помещаю код -->
{% block title %}Customers{% endblock %}

<!-- внутрь блока content из layout помещаю код -->
{% block content %}
    <h1>{{page_title}}</h1>
    {% for cust in customers %}
        <p>Customer: <a href="{% url 'customer' cust.id%}">{{cust.first_name}} {{cust.last_name}}</a></p>
        <p>From: {{cust.city}}, {{cust.country}}</p>
        <p>Contacts: {{cust.email}} | {{cust.phone_number}}</p>
        <hr>
    {% endfor %}
{% endblock %}