{% extends 'layout.html'%}

<!-- внутрь блока title из layout помещаю код -->
{% block title %}Rental by ID{% endblock %}

<!-- внутрь блока content из layout помещаю код -->
{% block content %}
    <h1>{{page_title}}</h1>
        <p>Customer: <a href="{% url 'customer' rental.customer.id%}">{{ rental.customer }}</a></p>
        <p>Vehicle: <a href="{% url 'vehicle' rental.vehicle.id%}">{{ rental.vehicle }}</a></p>
        <p><b>Rental date:</b> {{ rental.rental_date }}</p>
        {% if rental.return_date %}
            <p><b>Returned on:</b> {{ rental.return_date }}</p>
        {% endif %}
        {% if not rental.return_date %}
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="undone" class="btn btn-dark">Return now</button>
            </form>
    <hr>
        {% endif %}
   
{% endblock %}